
html, body {
	height: 100%;
}

textarea {
	height: 120px;
	width: 100%;
}

.chart line {
	strokeWidth: 1px;
}

.chart line.x, .chart line.dx, .chart line.ddx, .chart line.adx, .chart line.addx {
  stroke: #00f;
}

.chart line.y, .chart line.dy, .chart line.ddy, .chart line.ady, .chart line.addy {
	stroke: #f00;
}

.chart line.z, .chart line.dz, .chart line.ddz, .chart line.adz, .chart line.addz {
	stroke: #0f0;
}

.chart line.rep {
	strokeWidth: 4px;
	stroke: #666;
}

.chart text {
	fill: #aaa;
	font-family: Verdana, sans-serif;
	font-size: 16pt;
	font-weight: normal;
}

.chart text.rep {
	fill: #999;
	font-family: Verdana, sans-serif;
	font-size: 32pt;
	font-weight: normal;
}
