
html, body {
	height: 100%;
}

textarea {
	height: 120px;
	width: 100%;
}

.chart line {
	strokeWidth: 1px;
}

.chart line.x {
  stroke: steelblue;
}

.chart line.y {
	stroke: red;
}

.chart line.z {
	stroke: green;
}
